{* Latte template *}
<ul class="breadcrumb">
	<li>
		<i class="icon-home"></i>
		<a href="{plink Dashboard:}">Home</a> 
		
	</li>
	{foreach $items as $item}
	<li><i class="icon-angle-right"></i><a {if isset($item['presenter'])}href="{plink $item['presenter'].':'}"{/if}>{_$item['text']}</a></li>
	{/foreach}
</ul>
{block content}