<div class="nav-collapse sidebar-nav">
	<ul class="nav nav-tabs nav-stacked main-menu">
		{foreach $menu as $item}
		<li>
			<a {if $item->hasChildren()}class="dropmenu" {/if}{if $item->presenter}href="{plink $item->presenter.':'}"{/if}><i class="{$item->icon}"></i><span class="hidden-tablet"> {_$item->text}</span></a>
			{if $item->hasChildren()}
			<ul>
			{foreach $item->children as $subitem}
			<li><a class="submenu" {if $subitem->presenter}href="{plink $subitem->presenter.':'}"{/if}><i class="{$subitem->icon}"></i><span class="hidden-tablet"> {_$subitem->text}</span></a></li>
			{/foreach}
			</ul>
			{/if}
		</li>
		{/foreach}
	</ul>
</div>
