<div class="nav-no-collapse header-nav">
	<ul class="nav pull-right">
		{foreach $menu as $item}
			<li {if $item->hasChildren()}class="dropdown" {else}class="hidden-phone" {/if}>
				{if $item->hasChildren()}
					{include 'top-menu/submenu.latte', item => $item}
				{else}
					{include 'top-menu/item.latte', item => $item}
				{/if}
			</li>
		{/foreach}
	</ul>
</div>
<!-- end: Header Menu -->