parameters:
	menu:
		dashboard:
			priority: 1 # priority in range from 1 to just about plus INT. for soting purposes
			presenter: Dashboard
			icon: dashboard
			text: Dashboard
		widgets:
			priority: 100
			presenter: Widgets
			icon: cog
			text: Widgets
		settings:
			priority: 1000
			text: Settings
			icon: cogs
			items:
				sys:
					presenter: SystemSettings
					text: System
					icon: wrench
				lng:
					presenter: LocaleSettings
					text: Locales
					icon: globe
		users:
			priority: 101
			icon: group
			text: User admin
			items:
				users:
					priority: 100
					presenter: Users
					icon: user
					text: Users
				groups:
					priority: 90
					presenter: UserGroups
					icon: group
					text: User groups
				acl:
					icon: group
					text: Security
					priority: 120
					items:
						resources:
							presenter: AclResources
							icon: group
							text: Security resources
				privileges:
					priority: 110
					presenter: UserPrivileges
					icon: lock
					text: Privileges