parameters:
	menu:
		modules:
			items:
				ashp :
					presenter: Shop
					icon: shopping-cart
					text: Shops
					items:
						cat: 
							priority: 10
							presenter: ShopCatalog
							icon: file
							text: Catalog
						prod: 
							priority: 20
							presenter: ShopProduct
							icon: file
							text: Products