parameters:
	menu:
		dashboard:
			presenter: Dashboard
			icon: icon-bar-chart
			text: Dashboard
		messages:
			presenter: Messages
			icon: icon-envelope
			text: Messages
		settings:
			text: Settings
			presenter: Settings
			icon: icon-wrench
		users:
			icon: icon-group
			text: User admin
			items:
				users:
					presenter: User
					icon: icon-user
					text: Users
				groups:
					presenter: UserGroups
					icon: icon-group
					text: User groups
				privileges:
					presenter: UserPriviliges
					icon: icon-lock
					text: Privileges