parameters:
	menu:
		modules:
			items:
				ashp :
					presenter: AdminShop
					icon: shopping-cart
					text: Shops
					items:
						cat: 
							priority: 10
							presenter: AdminShopCatalog
							icon: file
							text: Catalog
						prod: 
							priority: 20
							presenter: AdminShopProduct
							icon: file
							text: Products