parameters:
	menu:
		modules:
			items:
				acms :
					presenter: Cms
					icon: globe
					text: CMS
					items:
						pages: 
							priority: 10
							presenter: CmsPage
							icon: book
							text: Pages
						doc: 
							priority: 20
							presenter: CmsDocument
							icon: file
							text: Documents
						menu:
							priority: 30
							presenter: CmsMenu
							icon: align-justify
							text: Menu