{* This is the welcome page, you can delete it *}

{block content}
{foreach $documents as $document}
	{if $document->title != ''}<h3>{$document->title}</h3>
	<hr>
	<date>{$document->created->format('d.m.Y [H:i:s]')}</date>
	{/if}
	{!$document->content}
{/foreach}
{*include '../design/'.$design.'.latte', content => $content*}{*, menuTop => $menuTop*}
{/block}
