<div class="col-md-6 img-portfolio">
    <a href="portfolio-item.html">
        <img class="img-responsive img-hover" src="http://placehold.it/700x400" alt="">
    </a>
    <h3>
        <a href="portfolio-item.html">Project One</a>
    </h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
</div>