{* admin module base *}
{block content}
<div class="row-fluid">

	<div class="span3 statbox" ontablet="span6" ondesktop="span3">
		<div class="number">854<i class="icon-arrow-up"></i></div>
		<div class="title">visits</div>
		<div class="footer">
			<a href="#"> read full report</a>
		</div>	
	</div>
	

</div>