
	<script src="https://cdn.rawgit.com/dangrossman/bootstrap-daterangepicker/v1.3.17/daterangepicker.js" defer="defer"></script>
	
	<script src="https://cdn.rawgit.com/browserstate/history.js/1.8.0/scripts/bundled/html4+html5/jquery.history.js" defer="defer"></script>
	<script src="https://cdn.rawgit.com/twitter/typeahead.js/v0.10.5/dist/typeahead.bundle.min.js" defer="defer"></script>
	<script src="https://cdn.rawgit.com/vojtech-dobes/nette.ajax.js/2.0.0/nette.ajax.js" defer="defer"></script>
	<script src="https://cdn.rawgit.com/rstacruz/nprogress/v0.1.6/nprogress.js" defer="defer"></script>
	<!--<script src="{*$baseUri*}js/nette.nprogress.js"></script>-->

	<script src="{$basePath}/../../../js/grido/grido.js" defer="defer"></script>
	<script src="{$basePath}/../../../js/grido/plugins/grido.datepicker.js" defer="defer"></script>
	<script src="{$basePath}/../../../js/grido/plugins/grido.typeahead.js" defer="defer"></script>
	<script src="{$basePath}/../../../js/grido/plugins/grido.history.js" defer="defer"></script>
	<script src="{$basePath}/../../../js/grido/plugins/grido.nette.ajax.js" defer="defer"></script>
