#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
parameters:
	locales:
		default: cs_CZ
	templates: /design/front/default/

php:
	date.timezone: Europe/Prague


nette:
	application:
		errorPresenter: Error
		mapping:
			*: App\Modules\*\Presenters\*Presenter

	session:
		expiration: 14 days

services:
#	- App\Model\UserManager
	- App\RouterFactory
	router: @App\RouterFactory::createRouter(%routes%)
	database: App\Management\EntityManager(%doctrine.connection%, %doctrine.entityDir%, %doctrine.devmode%)
#	authenticator: @App\model\UserManager
#	databaseManager: App\Management\DatabaseManager

#tracy:
#	bar: # panely do Debugger baru
#		- Nette\DI\Diagnostics\ContainerPanel # alias DI Container baru
#		- IncludePanel
#		- XDebugHelper('myIdeKey')
#		- MyPanel(@MyService)
#	blueScreen: # panely do Laděnky
#		- DoctrinePanel::renderException