parameters:
	doctrine:
		devmode: true
		entityDir: %appDir%/lib/model/_Generated
#		entityDir: %appDir%/temp/model
		connection:
			host: localhost
#			port: 3600
			dbname: cms5
#			dbname: cinske_mobily
			driver: pdo_mysql
			user: root
			password: 1111
			metadata:
				App: %appDir%

nette:
	
#		default:
#			dsn: 'mysql:host=127.0.0.1;dbname=system5'
#			user: root
#			password: 1111
#			options:
#				lazy: yes
