{* Latte template *}

<aside id="rpwe_widget-2" class="widget rpwe_widget recent-posts-extended">
	<h3 class="widget-title"><span>Recent Posts</span></h3>
	<div class="rpwe-block ">
		<ul class="rpwe-ul">
			<li class="rpwe-li rpwe-clearfix">
				<a class="rpwe-img" href="http://demo.themegrill.com/spacious/2014/03/21/mac-book-air-and-a-cup-of-coffee/" rel="bookmark"><img class="rpwe-alignleft rpwe-thumb" src="http://demo.themegrill.com/spacious/wp-content/uploads/sites/2/2014/03/laptop-45x45.png" alt="Mac Book Air and a cup of Coffee"></a>
				<h3 class="rpwe-title"><a href="http://demo.themegrill.com/spacious/2014/03/21/mac-book-air-and-a-cup-of-coffee/" title="Permalink to Mac Book Air and a cup of Coffee" rel="bookmark">Mac Book Air and a cup of Coffee</a></h3><time class="rpwe-time published" datetime="2014-03-21T13:14:09+00:00">March 21, 2014</time>
			</li>
			<li class="rpwe-li rpwe-clearfix">
				<a class="rpwe-img" href="http://demo.themegrill.com/spacious/2014/03/21/old-wooden-wall-and-green-bicycle/" rel="bookmark"><img class="rpwe-alignleft rpwe-thumb" src="http://demo.themegrill.com/spacious/wp-content/uploads/sites/2/2014/03/cycle-45x45.png" alt="Old wooden wall and green bicycle"></a>
				<h3 class="rpwe-title"><a href="http://demo.themegrill.com/spacious/2014/03/21/old-wooden-wall-and-green-bicycle/" title="Permalink to Old wooden wall and green bicycle" rel="bookmark">Old wooden wall and green bicycle</a></h3><time class="rpwe-time published" datetime="2014-03-21T13:11:13+00:00">March 21, 2014</time>
			</li>
			<li class="rpwe-li rpwe-clearfix">
				<a class="rpwe-img" href="http://demo.themegrill.com/spacious/2014/03/18/a-boy-leaning-on-the-wall/" rel="bookmark"><img class="rpwe-alignleft rpwe-thumb" src="http://demo.themegrill.com/spacious/wp-content/uploads/sites/2/2014/03/boy-45x45.jpg" alt="A boy leaning on the Wall"></a>
				<h3 class="rpwe-title"><a href="http://demo.themegrill.com/spacious/2014/03/18/a-boy-leaning-on-the-wall/" title="Permalink to A boy leaning on the Wall" rel="bookmark">A boy leaning on the Wall</a></h3><time class="rpwe-time published" datetime="2014-03-18T16:17:41+00:00">March 18, 2014</time>
			</li>
			<li class="rpwe-li rpwe-clearfix">
				<a class="rpwe-img" href="http://demo.themegrill.com/spacious/2014/02/07/hello-world/" rel="bookmark"><img class="rpwe-alignleft rpwe-thumb rpwe-default-thumb" src="http://placehold.it/45x45/f0f0f0/ccc" alt="Hello world!" width="45" height="45"></a>
				<h3 class="rpwe-title"><a href="http://demo.themegrill.com/spacious/2014/02/07/hello-world/" title="Permalink to Hello world!" rel="bookmark">Hello world!</a></h3><time class="rpwe-time published" datetime="2014-02-07T16:21:34+00:00">February 7, 2014</time>
			</li>
		</ul>
	</div>
	<!-- Generated by http://wordpress.org/plugins/recent-posts-widget-extended/ -->
</aside>			