{block content}


<div class="row">
    <div class="col-md-12">
        
        {control adminTable, $table}
        
    </div>
</div>
<script src="/js/ace/ace.js" type="text/javascript" charset="utf-8"></script>
{/block}




