{layout none}
{block content}
<div class="row">
    <div class="col-md-12">
        <h1>{_'Add Menu Item'}</h1>
        <div class="row">
            {include '../components/form.latte', form => editForm}
        </div>
    </div>
	<script type="text/javascript">
		$(function (){
			$('#frm-editForm').submit(function (){
				alert(this)
				return false;
			})
		})
	</script>
</div>
{/block}