{block content}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{ifset #title}{include title}{/ifset}
                <small>Subheading</small>
            </h1>
            {control breadcrumbs}
        </div>
    </div>
    <!-- /.row -->
    {*dump $document}
    {(is_a($document, 'App\Model\Document\Document') ? $document->renderTemplate() : '-') |noescape*}
    {include '../page/footer.latte'}
</div>
{/block}