{block content}
{* admin module base *}
<div class="row-fluid">
	{control groupList}


</div>
{block head}
	{include parent}
	{*include '../components/grid_head.latte'*}
{/block}
{block scripts}
	{include parent}
	{include '../components/grid_scripts.latte'}
{/block}