<a class="btn dropdown-toggle" data-toggle="dropdown" href="#" title="{if $item->label}{_$item->label}{else}{_$item->text}{/if}"><i class="halflings-icon white {$item->icon}"></i></a>
{$item->component->render()}