<li>
	<a {if $item->presenter}href="{plink $item->presenter.':'}"{/if} title="{if $item->label}{_$item->label}{else}{_$item->text}{/if}">
		{if $item->icon}<i class="halflings-icon {$item->icon}"></i>{/if} {_$item->text}</a>
</li>