<a class="dropmenu dropdown{if $item->presenter}{if $presenter->isLinkCurrent($item->presenter.':*')} current{/if}" 
   href="{plink $item->presenter.':'.(isset($item->action)?$item->action:'')}{/if}" title="{if $item->label}{_$item->label}{else}{_$item->text}{/if}">
	<i class="icon-{$item->icon} white"></i><span class="hidden-tablet"> {_$item->text}</span><span class="caret pull-right"></span>
</a>
	<ul>
		
	{foreach $item->children as $subitem}
		{include 'subitem.latte', item => $subitem}
	{/foreach}
</ul>
